*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    /* Landing page 01 */

position: relative;
width: 1440px;
height: 3770px;

background: #FFFFFF;

}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}