body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    
    
  }
  main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./src/assets/farm.jpg') center/cover no-repeat;
    filter: blur(35px);
    z-index: -1; /* Place it behind the main content */
  }
  .section-registration {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .container-register {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .registration-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reg-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  
  .main-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  form div {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus {
    border-color: #FBC855;
    outline: none;
    box-shadow: #c9df5b;
  }
  .btn-submit {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FBC855;
  color: #333;
  border: none;
  transition: background-color 0.3s ease
  }
  .btn-submit:hover {
    background-color: #f3d48c;
  }
  .remember-forgot{
  margin-top: 1rem;
  display: flex;
  
  }
  .remember-forgot input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .remember-forgot label {
    font-size: 1rem;
    color: #333;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .remember-forgot label input {
    margin-left: 0px;
  }
  .register-link {
    margin-top: 1rem;
    text-align: center;
  }
  
  .register-link p {
    font-size: 1rem;
    color: #333;
  }
  
  .register-link a {
    color: #FBC855;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.1rem;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  